<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.hut.niksula.mcc_2016_g05_p1">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginScreen"
            android:label="@string/activity_login_screen_title"
            android:configChanges="orientation|screenSize">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ApplicationList"
            android:label="@string/activity_application_list_title"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".RemoteFramebuffer"
            android:label="@string/activity_remote_app_title"
            android:configChanges="orientation|screenSize">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ApplicationList" />
        </activity>
    </application>

</manifest>